.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.results {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
}

.grid-dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 30px;
  @media (min-width: 1324px) {
    grid-template-columns: 2fr 1fr;
  }
}